<h1 class="text-center my-5">Welcome to Show-Score’s Box Office</h1>

<table id="tickets" class="table table-striped">
  <thead>
  <tr>
    <th>Show title</th>
    <th>Sell in (days)</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>

<div class="text-center">
  <button type="button" id="next-day-btn" class="btn btn-lg button">Next day</button>
</div>

<%= javascript_pack_tag 'box_office_page' %>
